<!-- 評価 -->
<div class="form-group row d-inline" id="star">
  <%= f.label : rate ,'評価 ', class:' col-form-label' %>
  <%= f.hidden_field : rate , id: :review_star %>
</div>

<!-- 評価javascript -->
<script>
$('#star').raty({
  size     : 36,
  starOff:  '<%= asset_path('star-off.png') %>',
  starOn : '<%= asset_path('star-on.png') %>',
  starHalf: '<%= asset_path('star-half.png') %>',
  scoreName: 'item[rate]',
  half: true,
});
</script>  