
<!-- Page Content -->
<div class="container pt-5">
  <p class="notice pt-1"><%= notice %></p>
  <p class="alert pt-1"><%= alert %></p>
  <!-- Jumbotron Header -->
  <%= form_with url: search_items_path, class: 'search_form', method: :get, local:true do |f| %>
    <%= f.text_field :search,class: 'field',value: params[:search]%>
    <%= f.submit '検索', class: "btn" %>
  <% end %>
  <header class="jumbotron my-4">
    <h1 class="display-3">家電比較.comへようこそ！</h1>
    <p class="lead">このサイトは家電を購入するときに役立ちます。投稿を見て気になる家電同士を比較してみましょう！</p>
  </header>
 
  <!-- Page Features -->
  <div class="row text-center">

    <% @items.each_slice(4) do |items| %>
      <% items.each do |item| %>
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100">
            <%= image_tag asset_path(item.img.url), class: "card-img-top", size: '253x164'%>
            <div class="card-body">
              <h4 class="card-title"><%= item.item1 %></h4>
              <h4>vs
              <h4 class="card-title"><%= item.item2 %></h4>
              <p class="card-text"><%= item.body1 %></p>
            </div>
            <div class="card-footer">
              <%# <a href="#" class="btn btn-primary">Find Out More!</a> %>
              <%= link_to "詳細", item_path(item.id), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
 
  </div>
  <!-- /.row -->
 
</div>

