<div class="container pt-5">
  <div class="show_box">
    <div class="profile">
      <div class="user_info">
        <div class="user_icon">
        <%= image_tag asset_path('boy1.jpg'), size: '40x40'%>
        </div>
        <div class="user_name">
          <span class="user_name_emphasis"><%= @item.user.name %></span>さんのクチコミ
        </div>
        <div class="user_item_amount">
         クチコミ投稿数：<%= @item.user.items.count%>
        </div>
      </div>
    </div>

    <div class="post">
      <div class="post_date d-flex justify-content-between">
        <%= @item.created_at.to_s(:datetime_jp) %>
        <% if @item.favorited_by?(current_user) %>
          <p>
            <%= link_to item_favorites_path(@item), method: :delete do %>
              ♥<%= @item.favorites.count %> いいね
            <% end %>
          </p>
        <% else %>
          <p>
            <%= link_to item_favorites_path(@item), method: :post do %>
              ♡<%= @item.favorites.count %> いいね
            <% end %>
          </p>
        <% end %>
      </div>

      <div class="post_containers">
        <div class="post_container d-flex">
          <div class="post_items">
            <div class="post_item">
              <span class="post_item_name"><%= @item.item1 %></span>
              <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                  <tr><th><%= @item.feature1 %></th>
                    <td class="rate1 d-flex justify-content-end">
                      <div id="star-rate1-<%= @item.id %>" class="d-flex align-items-center ml-1 star"></div>
                        <script>
                        $('#star-rate1-<%= @item.id %>').raty({
                          size: 1,
                          starOff:  '<%= asset_path('star-off.png') %>',
                          starOn : '<%= asset_path('star-on.png') %>',
                          starHalf: '<%= asset_path('star-half.png') %>',
                          half: true,
                          readOnly: true,
                          score: '<%= @item.rate1 %>',
                        });
                        </script> 
                      <span><%= @item.rate1 %></span>
                    </td>
                  </tr>

                  <tr><th><%= @item.feature2 %></th>
                    <td class="rate2 d-flex justify-content-end">
                      <div id="star-rate2-<%= @item.id %>" class="d-flex align-items-center ml-1 star"></div>
                        <script>
                        $('#star-rate2-<%= @item.id %>').raty({
                          size: 1,
                          starOff:  '<%= asset_path('star-off.png') %>',
                          starOn : '<%= asset_path('star-on.png') %>',
                          starHalf: '<%= asset_path('star-half.png') %>',
                          half: true,
                          readOnly: true,
                          score: '<%= @item.rate2 %>',
                        });
                        </script> 
                      <span><%= @item.rate2 %></span>
                    </td>
                  </tr>


                  <tr class="last"><th><%= @item.feature3 %></th>
                    <td class="rate3 d-flex justify-content-end">
                      <div id="star-rate3-<%= @item.id %>" class="d-flex align-items-center ml-1 star"></div>
                        <script>
                        $('#star-rate3-<%= @item.id %>').raty({
                          size: 1,
                          starOff:  '<%= asset_path('star-off.png') %>',
                          starOn : '<%= asset_path('star-on.png') %>',
                          starHalf: '<%= asset_path('star-half.png') %>',
                          half: true,
                          readOnly: true,
                          score: '<%= @item.rate3 %>',
                        });
                        </script> 
                      <span><%= @item.rate3 %></span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="post_item">
              <span class="post_item_name"><%= @item.item2 %></span>
              <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                  <tr><th><%= @item.feature4 %></th>
                    <td class="rate4 d-flex justify-content-end">
                      <div id="star-rate4-<%= @item.id %>" class="d-flex align-items-center ml-1 star"></div>
                        <script>
                        $('#star-rate4-<%= @item.id %>').raty({
                          size: 1,
                          starOff:  '<%= asset_path('star-off.png') %>',
                          starOn : '<%= asset_path('star-on.png') %>',
                          starHalf: '<%= asset_path('star-half.png') %>',
                          half: true,
                          readOnly: true,
                          score: '<%= @item.rate4 %>',
                        });
                        </script> 
                      <span><%= @item.rate4 %></span>
                    </td>
                  </tr>

                  <tr><th><%= @item.feature5 %></th>
                    <td class="rate2 d-flex justify-content-end">
                      <div id="star-rate5-<%= @item.id %>" class="d-flex align-items-center ml-1 star"></div>
                        <script>
                        $('#star-rate5-<%= @item.id %>').raty({
                          size: 1,
                          starOff:  '<%= asset_path('star-off.png') %>',
                          starOn : '<%= asset_path('star-on.png') %>',
                          starHalf: '<%= asset_path('star-half.png') %>',
                          half: true,
                          readOnly: true,
                          score: '<%= @item.rate5 %>',
                        });
                        </script> 
                      <span><%= @item.rate5 %></span>
                    </td>
                  </tr>


                  <tr class="last"><th><%= @item.feature6 %></th>
                    <td class="rate3 d-flex justify-content-end">
                      <div id="star-rate6-<%= @item.id %>" class="d-flex align-items-center ml-1 star"></div>
                        <script>
                        $('#star-rate6-<%= @item.id %>').raty({
                          size: 1,
                          starOff:  '<%= asset_path('star-off.png') %>',
                          starOn : '<%= asset_path('star-on.png') %>',
                          starHalf: '<%= asset_path('star-half.png') %>',
                          half: true,
                          readOnly: true,
                          score: '<%= @item.rate6 %>',
                        });
                        </script> 
                      <span><%= @item.rate6 %></span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="post_item_container ml-3">
            <div class="item_title">
              <span><%= @item.title%></span>
            </div>

            <p class="item_body">
              <%= @item.body1%>
            </p>
        </div>
        <div class="card-footer">
          <h4 class="primary">コメント欄</h4>
        </div>
        <div class="comments">
        <p>コメント件数：<%= @item.comments.count %></p>
        <% @item.comments.each do |post_comment| %>
          <%# <p><%= image_tag('sample-author1.jpg') %></p>
          <%= post_comment.user.name %>
          <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
          <% if post_comment.user == current_user %>
          <div class="comment-delete">
      </div>
    </div>

    <div class="card-footer">
      <h4 class="primary">コメント欄</h4>
    </div>
    <div class="comments">
    <p>コメント件数：<%= @item.comments.count %></p>
    <% @item.comments.each do |post_comment| %>
      <div class="comments_box">
        <div class="comment_user d-flex justify-content-between">
          <div class="comment_user_name">
            <%= post_comment.user.name %>さん
          </div>
          <div>
            <%= post_comment.created_at.strftime('%Y/%m/%d') %>
          </div>
        </div>
        <%= post_comment.comment %>
        <% if post_comment.user == current_user %>
        <div class="comment-delete text-right">
          <%= link_to "削除", item_comment_path(post_comment.item, post_comment), method: :delete, class: "text-right" %>
        </div>
        <% end %>
      </div>
    <% end %>
    </div>
    <div class="new-comment">
    <%= form_with(model:[@item, @comment], local: true) do |f| %>
      <%= f.text_area :comment, rows:'3',placeholder: "コメントをここに", class: "comment_form" %>
      <%= f.submit "コメントを書き込む", class: "comment-btn d-block mx-auto" %>
    <% end %>
  </div>
</div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>